<div class="container">
  <app-navi></app-navi>
  <div class="row">

    <div class="col-md-2">
      <app-brand></app-brand>
    </div>



    <!-- <div class="col-md-5">
      <app-rent-details></app-rent-details>
    </div> -->

    <!-- <div class="col-md-9">
      <app-rent-details></app-rent-details>
    </div> -->
    
    <div class="col-md-9">
      <router-outlet></router-outlet> 
    </div>

    <div class="col-md-2">
      <app-color></app-color>
    </div>

    <!-- <div class="col-md-4">
      <app-customer></app-customer>
    </div> -->
    
    
  </div>



  
</div>